/** Add css rules here for your application. */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;

}


/*Registrazione*/

.signupContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("sfondo.jpeg");
}

.signupSection {
  width: 50vw;
  height: 100%;

  display:flex;
  justify-content: center;
  align-items: center;
}

.signupForm {
  display:flex;
  justify-content: center;
  align-items: center;
}

.signupInput {
  border: none;
  outline: none;
  font-size: 1.1em;
  width: 100%;
  background: #e6e6e6;
  color: #333;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  margin: 10px;
  align-self: center;
}

.registerButton {
  color: black;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-color:  #8b33c5;
  cursor: pointer;
  align-self: center;
}

.signupTitle {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  align-self: center;
}

/*Login*/

 .loginButton {
  color: black;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-color:#8b33c5;
  cursor: pointer;
  align-self: center;
} 

.loginInput {
  border: none;
  outline: none;
  font-size: 1.1em;
  width: 100%;
  background: #e6e6e6;
  color: #333;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  margin: 10px;
  align-self: center;
}

.loginForm {
  display:flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("sfondo.jpeg");
}

.loginSection {
  width: 50vw;
  height: 100%;

  display:flex;
  justify-content: center;
  align-items: center;
}

.loginTitle {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  align-self: center;
}

/*HomePage*/
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.homeButton {
  margin-top: 10vh;  
  color: black;
  padding: 14px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-color:#8b33c5;
  cursor: pointer;
  align-self: center;
  width: 300px;
}
